body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 27px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  max-width: 720px;
  margin: 0 auto;
}
header {
  margin: 5em 0;
  text-align: center;
}
header > * {
  margin: 0.25em 0;
  line-height: 2;
}
header code {
  background: #1d1f21;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 4px;
}
header nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1em 0;
}
header a {
  margin: 0 1em;
  font-weight: bold;
}
body > section {
  margin-bottom: 3em;
}
a {
  text-decoration: none;
  border-bottom: 1px solid;
}
li {
  margin-bottom: 0.5em;
}
.hero-anim {
  color: red;
  animation: colors 4s infinite;
}
@keyframes colors {
  from {
    color: hsl(0, 100%, 50%);
  }
  25% {
    color: hsl(90, 100%, 50%);
  }
  50% {
    color: hsl(180, 100%, 50%);
  }
  75% {
    color: hsl(270, 100%, 50%);
  }
  to {
    color: hsl(360, 100%, 50%);
  }
}

footer {
  font-style: italic;
  font-size: 0.95em;
  margin: 2em 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1em;
  counter-reset: code;
  white-space: normal;
  font-size: 14px;
  padding: 1em;
}

pre code {
  display: block;
  padding: 0 2.5em;
  border-radius: 0;
  background-color: transparent;
  line-height: 1.85;
  white-space: pre;
  -moz-tab-size: 4;
  tab-size: 4;
  min-height: 1.85em;
  position: relative;
  font-family: inherit;
}

pre code:not(:only-child)::before {
  position: absolute;
  margin-left: -2em;
  color: gray;
  opacity: 0.85;
  counter-increment: code;
  content: counter(code, decimal-leading-zero);
  user-select: none;
  pointer-events: none;
}

p code,
li code {
  letter-spacing: -0.03em;
}

.snippet {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
}

code {
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  font-size: inherit;
}

pre[class*="language-"] {
  color: white;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  overflow: auto;
}

pre[class*="language-"] {
  background: #242936;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #b8cfe680;
}

.token.punctuation {
  color: #cccac2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword {
  color: #ffad66;
}

.token.tag {
  color: #5ccfe6;
}

.token.class-name {
  color: #73d0ff;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: #ffcc66;
}

.token.symbol,
.token.deleted {
  color: #d5ff80;
}

.token.number {
  color: #ffcc66;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #d5ff80;
}

.token.variable {
  color: #cccac2;
}

.token.operator {
  color: #f29e74;
}

.token.entity {
  color: #73d0ff;
  cursor: help;
}

.token.url {
  color: #d5ff80;
}

.language-css .token.string,
.style .token.string {
  color: #d5ff80;
}

.token.atrule,
.token.attr-value {
  color: #cccac2;
}

.token.function {
  color: #ffd173;
}

.token.regex {
  color: #95e6cb;
}

.token.important {
  color: #ffcc66;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
